{% extends 'base.html'%}
{% load static%}
{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/includes/challenge.css"%}"> 
    <link rel="stylesheet" href="{% static "challenges/includes/header.css"%}">
{% endblock %}
{% block page_title%}  
   monthly_challenge
{% endblock%}
{% block content %}
  {% include 'challenges/includes/header.html'%}
    <h1>{{themonth|title}}</h1>
    {% if text is not None %}:
    <h3>{{text}}</h3>
    {% else %}:
    <p class="fallback">No challenge yet</p>
    {% endif %}
{% endblock%}